@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
    Paleta de cores
    Cimento queimado: #323640;
    Marrom claro: #8C6F4A;
    Branco gelo: #F2F2F2;
    Cinza Claro: #BFBFBF;
    Preto-acizentado: #0D0D0D;
*/
:root {
    /* Variáveis para cores */
    --cimento: #323640;
    --marrom: #8C6F4A;
    --branco: #F2F2F2;
    --cinza: #BFBFBF;
    --preto: #0D0D0D;
    /* Variáveis para fonte */
    --titulo: "Libre Caslon Text", serif;
    --texto: "Montserrat", sans-serif;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cinza);
    position: relative;
}

main {
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: var(--branco);
    position: absolute;
    width: 250px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    overflow: hidden;
    /* transição de tamanho */
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
    
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    height: 250px;
}

div#formulario > h1 {
    text-align: center;
    font-weight: bold;
    font-family: var(--titulo);
    margin: 5px 0px;
    
}

div#formulario > p {
    font-family: var(--texto);
    text-align: left;
    font-size: 0.8em;
    font-weight: light;
    margin-bottom: 5px;
}

form > div.campo {
    background-color: var(--marrom);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

div.campo i {
    padding: 5px;
    font-size: 2em;
    width: 40px;
    color: white;
    transform: translateY(-5%);
}

form > div.campo > input {
    text-align: left;
    font-family: var(--texto);
    font-size: 0.9em;
    height: 30px;
    width: calc(100% - 50px);
    border-radius: 8px;
    padding: 4px;
    border: 0px;
    transform: translateY(-40%);
    
}

/* Botão entrar */
form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    border: 0px;
    background-color: var(--cimento);
    color: white;
    font-family: var(--titulo);
    font-size: 1.3em;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 5px;
} 
form > input[type=submit]:hover {
    background-color: #22272c;
}
/* Botão esqueci a senha */
form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    color: var(--cimento);
    background-color: white;
    border: 1px solid var(--cimento);
    border-radius: 7px;
}

form > a.botao:hover {
    background-color: var(--cimento);
    color: var(--branco);
}

form > a.botao > i {
    transform: translateY(20%);
}